.page-title{

display: flex;
flex-direction: row;
font-family: arial;
font-size: 60px;
margin-top: 30px;
margin-bottom: 5px02;

}

.title-news{

    color: white;
    background-color: red;
    margin-left: 25px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 10px;

}

.title-nara{

font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 0;
text-decoration: underline;

}